<div id="section-2">
  <div class="box p-lg-5 p-2">
    <div class="container-fluid pb-lg-5 pr-lg-5 pl-lg-5">
      <span class="text-center d-block text-muted text-capitalize mt-4">Unlock The Door to success</span>
      <h1 class="text-center">Arenas</h1>

      <div class="d-block text-center">
        <img src="assets/icons/general-icon/LINEIMG.png"
          class="img-fluid  mb-4 mt-4 sm-img">
      </div>
      <!--  <img src="assets/icons/general-icon/Line-two.svg" alt="mindset" class="img-fluid"> -->
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="img-div m-3">
            <img src="assets/icons/general-icon/Mindset.svg"
              alt="mindset"
              class="img-fluid">
          </div>
          <h4 class="text-center pt-2">The Mindset</h4>
          <hr class="hr hr-danger">
          <p class="text-center">To become financially successful an individual has to first work on to set his mindset
            which believes getting
            rich is easier than eating peanuts.</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="img-div m-3">
            <img src="assets/icons/general-icon/Spending_Habbit.svg"
              alt="Spendind-Habits"
              class="img-fluid">
          </div>
          <h4 class="text-center pt-2">Spending Habits</h4>
          <hr class="hr hr-yellow">
          <p class="text-center">
            Changing spending pattern from spending on things which decreases in value to spending on things which
            increases in value
            is a next step.
          </p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="img-div m-3">
            <img src="assets/icons/general-icon/Passive_Income.svg"
              alt="Passive-Income"
              class="img-fluid">
          </div>
          <h4 class="text-center pt-2">Passive Income</h4>
          <hr class="hr hr-success">
          <p class="text-center">
            Increasing sources of passive income is discussed in this arena. Creating sources of income where you
            don’t have to work
            for your income.
          </p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="img-div m-3">
            <img src="assets/icons/general-icon/Networking.svg"
              alt="Networking"
              class="img-fluid">
          </div>
          <h4 class="text-center pt-2">Networking</h4>
          <hr class="hr hr-primary">
          <p class="text-center">
            In this arena we have discussed the importance, need and ways to increase your network of people.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>