<div id="about-us-pg2">
  <div class="content container">
    <div class="mt-5 mb-5">
      <h2 class="question">
        <u>What is GPM Community?</u>
      </h2>
      <p class="text-justify">We are GPM Community involved and focused on to teach financial literacy among masses
        with an aim to create awareness
        on financial mistakes people make. </p>
    </div>

    <div class="mt-5 mb-5">
      <h2 class="question success-title">
        <u>How does GPM Community work?</u>
      </h2>
      <p class="text-justify">We have been researching on financial literacy subject since last <span class="number">10</span>
        years and accordingly came up with a concrete
        plan of actions which can help anyone to upscale his financial class. We have designed step by step processes
        which
        are practical and easy to implement to move people from lower income category to higher income category </p>
    </div>
    <div class="mt-5 mb-0">
      <h2 class="question">
        <u>Why GPM community?</u>
      </h2>
      <p class="text-justify mb-0">People who struggle financially never realise that they do financial mistakes and
        the problem is that they are not
        aware that if they constantly improve on those mistakes they will start getting out of financial troubles and
        gradually
        improve their financial class.
      </p>
    </div>
  </div>
</div>
