<div id="about-us">
  <div class="content container pt-3">
    <p class="text-center text-muted text-capitalize">Know Us Better</p>
    <h1 class="text-center">About Us</h1>
    <div class="text-center">
      <img src="assets/icons/general-icon/LINEIMG.png" class="img-fluid  sm-img">
    </div>
    <h4 class="text-center thought">
      "To be born poor is not our fault, but to die poor is a crime."
    </h4>
    <h4 class="text-center name">
      - Bill gates
    </h4>
    <div class="para">
      <div class="container mt-4 mb-5">
        <p class="text-justify">
          Nobody would like to die poor. Getting rich or being financial abundant should be a childhood right of everyone. Have you
          ever thought why few people are so rich that they can buy islands or cities? On the other hand, most of the worlds
          population struggle financially through out their lives?
        </p>
        <p class="text-justify">Everybody wants to be wealthy. While it is true that being financially abundant should be a birthright yet many of
          us continue to struggle for money. To understand this economic phenomenon, we at GPM Community have been researching
          since last
          <span class="number">10</span> years. </p>
        <p class="text-justify">Why rich is rich, middle class is middle class & poor is poor? We have been researching on this subject since list
          <span class="number">10</span> years and realised that there are some common habits among middle class & poor. The movement poor & middle
          class come out of these habits, they start upscaling their financial class.To make it easy to understand ‘Bad people
          are bad because of bad habits or they do bad things, the movement they improve their bad habits and stop doing
          bad things they will become good people’.People who struggle financially never realise that they do financial mistakes
          and the problem is that they are not aware that if they constantly improve on those mistakes they will start getting
          out of financial troubles and gradually improve their financial class.
        </p>
      </div>
    </div>
    <div class="text-center">
      <img src="assets/icons/general-icon/LINEIMG.png" class="img-fluid  mb-4">
    </div>
  </div>
</div>