<div id="section-three">
  <div class="content container p-3">
    <span class="text-center d-block text-muted text-capitalize mt-3">Start Your Journey Now</span>
    <h1 class="text-center">Membership</h1>
    <div class="text-center">
      <img src="assets/icons/general-icon/LINEIMG.png"
        class="img-fluid  mb-4 sm-img">
    </div>
    <div class="para">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="row  justify-content-end">
            <div class="col-md-7 col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h2>
                    <u>Basic Plan</u>
                  </h2>
                  <span class="price">
                    &#x20b9; 1,000<span class="number">.</span>00
                    <span>+ GST</span>
                  </span>
                  <p class="mt-3">
                    Basic Members will get complete step by step access to learn about financial literacy through our
                    videos<span class="number">.</span> Members have to
                    clear all <span class="number">28</span> chapters one by one to complete our course on financial literacy<span class="number">.</span> Member can achieve
                    financial
                    abundance by following practices mentioned by us<span class="number">.</span> They can anytime upgrade themselves to core
                    membership</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h2>
                    <u>Core Plan</u>
                  </h2>
                  <span class="price">
                    &#x20b9; 10,000<span class="number">.</span>00
                    <span>+ GST</span>
                  </span>
                  <p class="mt-3">Core members will be integral part of GPM community and will be involved in core
                    committee of our community<span class="number">.</span>
                    Like basic members, core members will get complete step by step access to learn about financial
                    literacy
                    through our videos<span class="number">.</span> More than that Core members can attain all future webinars and seminars of the
                    company
                    which will be conducted by experts from the industry<span class="number">.</span> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-sm-4 m-md-5 m-3 text-center know-more-btn">
      <button class="btn btn-danger btn-lg text-uppercase"
        routerLink="/membership">Know More</button>
    </div>
  </div>
</div>