<div class="modal-body"
  id="change-pass">

  <button type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  <form [formGroup]="changepasswordForm"
    (ngSubmit)="submit()">
    <fieldset>
      <legend align="center">
        <strong> Change password</strong>
      </legend>

      <div class="row justify-content-center">
        <div class="col-10 col-lg-8 alert alert-danger mt-3 mb-3"
          *ngIf="isError">
          <span>{{isError}}</span>
        </div>
        <div class="col-10 col-lg-8 alert alert-success mt-3 mb-3"
          *ngIf="isSuccess">
          <span>{{isSuccess}}</span>
        </div>
        <div class="col-10 col-lg-8 form-group text-center mt-3">
          <label>
            Current Password
          </label>
          <input type="password"
            formControlName="old"
            class="form-control"
            placeholder="Enter your old password">
          <div *ngIf="changepasswordForm.controls.old.invalid && (changepasswordForm.controls.old.dirty || changepasswordForm.controls.old.touched)">
            <small *ngIf="changepasswordForm.controls.old.errors.required">
              *Required field
            </small>
            <small *ngIf="changepasswordForm.controls.old.errors.minlength">
              *Password must be at least 6 characters long.
            </small>
          </div>
        </div>
        <div class="col-10 col-lg-8 form-group text-center">
          <label>
            New Password
          </label>
          <input type="password"
            formControlName="new"
            class="form-control"
            placeholder="Enter your new password">
          <div *ngIf="changepasswordForm.controls.new.invalid && (changepasswordForm.controls.new.dirty || changepasswordForm.controls.new.touched)">
            <small *ngIf="changepasswordForm.controls.new.errors.required">
              *Required field
            </small>
            <small *ngIf="changepasswordForm.controls.new.errors.minlength">
              *Password must be at least 6 characters long.
            </small>
          </div>
        </div>
        <div class="col-10 col-lg-8 form-group text-center">
          <label>
            Confirm Password
          </label>
          <input type="password"
            formControlName="confirm"
            class="form-control"
            placeholder="Re-enter password">
          <div *ngIf="changepasswordForm.controls.confirm.invalid && (changepasswordForm.controls.confirm.dirty || changepasswordForm.controls.confirm.touched)">
            <small *ngIf="changepasswordForm.controls.confirm.errors.required">
              *Required field
            </small>
            <small *ngIf="changepasswordForm.controls.confirm.errors.minlength">
              *Password must be at least 6 characters long.
            </small>
          </div>
        </div>
      </div>
      <div class="row justify-content-center m-3">
        <button class="btn btn-danger text-uppercase">Save</button>
      </div>
      <!-- 
      <input type="submit" class="btn btn-white btn-outline text-center" value="Save"> -->
    </fieldset>
  </form>
</div>