<div id="section-one">
  <div class="content slide0 flex-center container p-lg-5">
    <div class="row justify-content-center mb-4">
      <div class="col-lg-4 header m-2 content-border-sm">
        <h1 class="text-center p-lg-4 p-sm-0">
          <small class="d-block">Your journey for </small>financial success starts here</h1>
      </div>
    </div>
    <div class="para text-center">
      <p>
        Yes, we are GPM community which teaches people on how to achieve financial success. We believe that it’s birth right of each
        individual to taste fruits of financial success but only handful people are able to achieve it.
      </p>
      <p>
        We have been researching on financial literacy since last
        <span class="number">10</span> years and thus came up with four quadrants in the form of
        <span class="number">38</span>
        animated videos which can help you to learn financial literacy and achieve financial success. In your journey with us you
        will learn that making money is not that difficult, it is just that we are stuck to some old myths and practices
        because of which money works against us.
      </p>
      <p>
        Join our community right now and present yourself a whole new world of financial abundance and success.
      </p>
      <div class="row justify-content-center">
        <!--     <img src="assets/icons/general-icon/LINEIMG.png" class="img-fluid  mb-4 sm-img line-image"> -->
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-success btn-lg text-uppercase m-4"
          routerLink="/register">get started</button>
      </div>
    </div>
  </div>
  <div class="content slide1 flex-center container p-lg-5">
    <div class="row justify-content-center mb-4">
      <div class="col-lg-4 header m-2 content-border-sm">
        <h1 class="text-center p-lg-4 p-sm-0">
          <small class="d-block">Your journey for </small>financial success starts here</h1>
      </div>
    </div>
    <div class="para text-center">
      <p>
        Yes, we are GPM community which teaches people on how to achieve financial success. We believe that it’s birth right of each
        individual to taste fruits of financial success but only handful people are able to achieve it.
      </p>
      <p>
        We have been researching on financial literacy since last
        <span class="number">10</span> years and thus came up with four quadrants in the form of
        <span class="number">38</span>
        animated videos which can help you to learn financial literacy and achieve financial success. In your journey with us you
        will learn that making money is not that difficult, it is just that we are stuck to some old myths and practices
        because of which money works against us.
      </p>
      <p>
        Join our community right now and present yourself a whole new world of financial abundance and success.
      </p>
      <div class="row justify-content-center">
        <!--     <img src="assets/icons/general-icon/LINEIMG.png" class="img-fluid  mb-4 sm-img line-image"> -->
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-success btn-lg text-uppercase m-4"
          routerLink="/register">get started</button>
      </div>
    </div>
  </div>
  <div class="content slide2 flex-center container p-lg-5">
    <div class="row justify-content-center mb-4">
      <div class="col-lg-4 header m-2 content-border-sm">
        <h1 class="text-center p-lg-4 p-sm-0">
          <small class="d-block">Your journey for </small>financial success starts here</h1>
      </div>
    </div>
    <div class="para text-center">
      <p>
        Yes, we are GPM community which teaches people on how to achieve financial success. We believe that it’s birth right of each
        individual to taste fruits of financial success but only handful people are able to achieve it.
      </p>
      <p>
        We have been researching on financial literacy since last
        <span class="number">10</span> years and thus came up with four quadrants in the form of
        <span class="number">38</span>
        animated videos which can help you to learn financial literacy and achieve financial success. In your journey with us you
        will learn that making money is not that difficult, it is just that we are stuck to some old myths and practices
        because of which money works against us.
      </p>
      <p>
        Join our community right now and present yourself a whole new world of financial abundance and success.
      </p>
      <div class="row justify-content-center">
        <!--     <img src="assets/icons/general-icon/LINEIMG.png" class="img-fluid  mb-4 sm-img line-image"> -->
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-success btn-lg text-uppercase m-4"
          routerLink="/register">get started</button>
      </div>
    </div>
  </div>
  <div class="content slide3 flex-center container p-lg-5">
    <div class="row justify-content-center mb-4">
      <div class="col-lg-4 header m-2 content-border-sm">
        <h1 class="text-center p-lg-4 p-sm-0">
          <small class="d-block">Your journey for </small>financial success starts here</h1>
      </div>
    </div>
    <div class="para text-center">
      <p>
        Yes, we are GPM community which teaches people on how to achieve financial success. We believe that it’s birth right of each
        individual to taste fruits of financial success but only handful people are able to achieve it.
      </p>
      <p>
        We have been researching on financial literacy since last
        <span class="number">10</span> years and thus came up with four quadrants in the form of
        <span class="number">38</span>
        animated videos which can help you to learn financial literacy and achieve financial success. In your journey with us you
        will learn that making money is not that difficult, it is just that we are stuck to some old myths and practices
        because of which money works against us.
      </p>
      <p>
        Join our community right now and present yourself a whole new world of financial abundance and success.
      </p>
      <div class="row justify-content-center">
        <!--     <img src="assets/icons/general-icon/LINEIMG.png" class="img-fluid  mb-4 sm-img line-image"> -->
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-success btn-lg text-uppercase m-4"
          routerLink="/register">get started</button>
      </div>
    </div>
  </div>
  <div class="content slide4 flex-center container p-lg-5">
    <div class="row justify-content-center mb-4">
      <div class="col-lg-4 header m-2 content-border-sm">
        <h1 class="text-center p-lg-4 p-sm-0">
          <small class="d-block">Your journey for </small>financial success starts here</h1>
      </div>
    </div>
    <div class="para text-center">
      <p>
        Yes, we are GPM community which teaches people on how to achieve financial success. We believe that it’s birth right of each
        individual to taste fruits of financial success but only handful people are able to achieve it.
      </p>
      <p>
        We have been researching on financial literacy since last
        <span class="number">10</span> years and thus came up with four quadrants in the form of
        <span class="number">38</span>
        animated videos which can help you to learn financial literacy and achieve financial success. In your journey with us you
        will learn that making money is not that difficult, it is just that we are stuck to some old myths and practices
        because of which money works against us.
      </p>
      <p>
        Join our community right now and present yourself a whole new world of financial abundance and success.
      </p>
      <div class="row justify-content-center">
        <!--     <img src="assets/icons/general-icon/LINEIMG.png" class="img-fluid  mb-4 sm-img line-image"> -->
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-success btn-lg text-uppercase m-4"
          routerLink="/register">get started</button>
      </div>
    </div>
  </div>
</div>