#register {
  padding-top: 80px;
  display: block;
  background-color: #f9f9f9;
  overflow: scroll;
  padding-bottom: 100px;
  text-align: center;

  h2 {
    font-family: 'GEOMA_REGULAR_DEMO';
  }

  h3 {
    font-family: "GEOMA_REGULAR_DEMO";
    color: #b60033;
  }

  .gst {
    font-size: 12px;
  }

  .features {
    .feature {
      text-align: left;
      display: block;
      margin: 19px;
      font-family: "GEOMA_REGULAR_DEMO";

      .fa {
        color: #000000;
        border: 1px solid #000000;
        border-radius: 5px;
      }

      &.disabled {
        color: rgba(0, 0, 0, 0.5);

        .fa {
          color: rgba(0, 0, 0, 0.5);
          border: 1px solid rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
