#personalInfoModal {
    h3 {
        margin: 0;
    }
}

.change-info {
    label {
        font-family: "ARLRDBD";
    }
    input {
        border-radius: 10px;
    }
    .para {
        color: #848484;
    }
    .danger-fontfamily {
        font-size: 14px;
        cursor: pointer;
        font-family: "ARLRDBD";
        &:hover {
            text-decoration: underline;
        }
    }
    small {
        color: #b60033;
        float: left;
    }
}

::ng-deep .modal .modal-dialog {
    min-width: 45% !important;
    margin: auto;
    .modal-content {
        background: #e0e0e0;
        border-radius: 20px !important;
    }
}

.modal-body {
    border-radius: 22px;
}