#forgot-password {
    margin-top: 60px;
    height: calc(100vh - 60px);
    background: #e0e0e0;
    .card {
        margin-top: 7%;
        border-radius: 25px;
        label {
            font-family: "ARLRDBD";
        }
        input {
            border-radius: 10px;
        }
        .para {
            color: #848484;
        }
        .danger-fontfamily {
            font-size: 14px;
            cursor: pointer;
            font-family: "ARLRDBD";
            &:hover {
                text-decoration: underline;
            }
        }
        small {
            color: #b60033;
        }
    }
    .success-modal {
        height: 20vh;
    }
    .tick-image {
        height: 35px;
        width: 35px;
    }
}

#partitioned {
    padding-left: 15px;
    letter-spacing: 40px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 300px;
    min-width: 300px;
}

#divInner {
    left: 0;
    position: sticky;
}

#divOuter {
    width: fit-content;
    overflow: hidden
}

@media screen and (max-width: 600px) {
    #forgot-password {
        margin-top: 60px;
    }
    .card {
        margin-top: 70px !important;
        .card-inner-content {
            padding: 0 10px;
        }
    }
    ::ng-deep legend{
        font-size: 1.2rem !important;
    }
}