<div id="forgot-password">
  <div class="container-fluid card-sm">
    <div class="row justify-content-center" *ngIf="currentStep === 1">
      <div class="col-md-6 col-sm-12 card pb-4">
        <form [formGroup]="forgotpasswordForm">
          <fieldset>
            <legend align="center">
              <strong>Having trouble signing in?</strong>
            </legend>

            <div class="row justify-content-center card-inner-content">
              <div class="col-md-9 col-sm-11 text-center">
                <div class="alert alert-danger disp-error" *ngIf="isError">{{ isError }}</div>
              </div>
              <div class="col-md-9 col-sm-11 text-center form-group">
                <label class=" m-3">
                  Please Enter Your Registered Email Address
                </label>
                <input type="email" name="email" formControlName="email" class="form-control" placeholder="Enter your email"
                  (focus)="isError = ''">
                <small class="float-left" *ngIf="forgotpasswordForm.controls.email.invalid && (forgotpasswordForm.controls.email.dirty || forgotpasswordForm.controls.email.touched)">*Required
                  field
                </small>
              </div>
              <div class="col-md-9 col-sm-11 text-center m-4">
                <button class="btn btn-danger text-uppercase" (click)="mailValidation()" [disabled]="forgotpasswordForm.invalid">Continue</button>
              </div>
              <small class="text-muted m-3">We will send you an OTP on your registered mail id.</small>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="currentStep === 2">
      <div class="col-md-6 col-sm-12 card pb-4">

        <form [formGroup]="otpVerifyForm">
          <button type="button" class="close pull-right pt-2" aria-label="Close" routerLink="/">
            <span aria-hidden="true">&times;</span>
          </button>
          <fieldset>
            <legend align="center">
              <strong>Recover your password</strong>
            </legend>

            <div class="row justify-content-center">
              <div class="col-9 text-center">
                <div class="alert alert-danger disp-error" *ngIf="isError">{{ isError }}</div>
              </div>
              <div id="divOuter" class="justify-content-center text-center">
                <label class=" m-3">
                  Enter OTP we've sent you
                </label>
                <!-- <div class="row justify-content-center">
                  <input type="text" name="opt1" class="form-control col-1">
                  <input type="text" name="opt1" class="form-control col-1">
                  <input type="text" name="opt1" class="form-control col-1">
                  <input type="text" name="opt1" class="form-control col-1">
                  <input type="text" name="opt1" class="form-control col-1">
                  <input type="text" name="opt1" class="form-control col-1">
                </div> -->

                <input id="partitioned" autocomplete="off" formControlName="otp" class="form-control" type="text" maxlength="6" (focus)="isError = ''"
                />
                <small class="float-left" *ngIf="otpVerifyForm.controls.otp.invalid && (otpVerifyForm.controls.otp.dirty || otpVerifyForm.controls.otp.touched)">*Required
                  field
                </small>
              </div>
              <div class="col-9 text-center m-5">
                <button class="btn btn-danger text-uppercase" (click)="otpValidation()">Continue</button>
              </div>
              <small class="text-muted m-3">Didn't recieved OTP?
                <span class="btn-link" (click)="currentStep = 1" style="cursor:pointer;">click here.
                </span>
              </small>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="currentStep === 3">

      <div class="col-md-6 col-sm-12 card pb-4">
        <form [formGroup]="setPasswordForm">
          <button type="button" class="close pull-right pt-2" aria-label="Close" routerLink="/">
            <span aria-hidden="true">&times;</span>
          </button>
          <fieldset>
            <legend align="center">
              <strong>Reset Your Password</strong>
            </legend>
            <div class="row justify-content-center">
              <div class="col-9 text-center">
                <div class="alert alert-danger disp-error" *ngIf="isError">{{ isError }}</div>
              </div>
              <div class="col-9 text-center mb-3">
                <label class="mb-3">Password</label>
                <input type="password" formControlName="password" class="form-control" placeholder="Enter your new password"
                  class="form-control" (focus)="isError = ''">
                <div class="float-left" *ngIf="setPasswordForm.controls.password.invalid && (setPasswordForm.controls.password.dirty || setPasswordForm.controls.password.touched)">
                  <small *ngIf="setPasswordForm.controls.password.errors.required">
                    Required field
                  </small>
                  <small *ngIf="setPasswordForm.controls.password.errors.minlength">
                    Password must be at least 6 characters long.
                  </small>
                </div>
              </div>
              <div class="col-9 text-center mt-2">
                <label class="mb-3">Confirm Password</label>
                <input type="password" formControlName="cpassword" class="form-control" placeholder="Confirm your new password"
                  class="form-control" (focus)="isError = ''">
                <div class="float-left" *ngIf="setPasswordForm.controls.cpassword.invalid && (setPasswordForm.controls.cpassword.dirty || setPasswordForm.controls.cpassword.touched)">
                  <small *ngIf="setPasswordForm.controls.cpassword.errors.required">
                    Required field
                  </small>
                  <small *ngIf="setPasswordForm.controls.password.value !== setPasswordForm.controls.cpassword.value">
                    Password not match
                  </small>
                </div>
              </div>
              <div class="col-9 text-center m-5">
                <button class="btn btn-danger text-uppercase" (click)="passwordValidation()">Continue</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="currentStep === 4">
      <div class="col-md-6 col-sm-12 card pb-4">
        <form [formGroup]="otpVerifyForm">
          <button type="button" class="close pull-right pt-2" aria-label="Close" routerLink="/">
            <span aria-hidden="true">&times;</span>
          </button>
          <fieldset>
            <legend align="center">
              <strong>Successful</strong>
            </legend>
            <div class="row text-center success-modal">
              <div class="col-12 m-auto">
                <img src="assets/icons/general-icon/Tick.svg" class="tick-image" />
              </div>
              <div class="col-12">
                <h6 class="text-muted m-3">Your password has been changed successfully</h6>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
