<div id="refund">
  <div class="container content">
    <h2 class="text-center">REFUND POLICY</h2>
  </div>
  <div class="text-center">
    <img src="assets/icons/general-icon/LINEIMG.png" class="img-fluid pt-2 sm-img">
  </div>
  <div class="container content para-one">
    <h3>
      Membership Payment - Non Refundable
    </h3>
    <p class="refund-para">
      Membership payment once paid is not refundable. Please not that membership charges includes life time membership Normal &
      Core Membership Members are eligible to enjoy all the features available for the that type of membership. If a member
      joins as a normal member, he cannot enjoy benefits of core membership. In that case member has to upgrade his membership
      to core and enjoy features of the same. Credit & Contact Information This Terms and conditions page was created at
      termsandconditionstemplate.com generator. If you have any queries regarding any of our terms, please contact us.
    </p>
  </div>
  <div class="container content">
    <h3>
      Reservation of Rights

    </h3>
    <p class="refund-para">
      We reserve the right at any time and in its sole discretion to request that you remove all links or any particular link to
      our Web site. You agree to immediately remove all links to our Web site upon such request. We also reserve the right
      to amend these terms and conditions and its linking policy at any time.
    </p>
    <p class="refund-para">
      By continuing to link to our Web site, you agree to be bound to and abide by these linking terms and conditions.
    </p>
  </div>

  <div class="container content">
    <h3>
      Content Liability

    </h3>
    <p class="refund-para">
      We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify and defend
      us against all claims arising out of or based upon your Website. No link(s) may appear on any page on your Web site
      or within any context containing content or materials that may be interpreted as libelous, obscene or criminal, or
      which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.

    </p>
  </div>
  <div class="container content">
    <h3>
      Disclaimer

    </h3>
    <p class="refund-para">
      To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to
      our website and the use of this website (including, without limitation, any warranties implied by law in respect of
      satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this disclaimer
      will:
    </p>
    <p class="refund-para">
      limit or exclude our or your liability for death or personal injury resulting from negligence; limit or exclude our or your
      liability for fraud or fraudulent misrepresentation; limit any of our or your liabilities in any way that is not permitted
      under applicable law; or exclude any of our or your liabilities that may not be excluded under applicable law.
    </p>
  </div>
  <div class="container content">
    <h3>
      The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer:
    </h3>
    <p class="refund-para">
      (a) are subject to the preceding paragraph; and
    </p>
    <p class="refund-para">(b) govern all liabilities arising under the disclaimer or in relation to the subject matter of this disclaimer, including
      liabilities arising in contract, in tort (including negligence) and for breach of statutory duty. To the extent that
      the website and the information and services on the website are provided free of charge, we will not be liable for
      any loss or damage of any nature. Copy of Tutorials Copy of tutorials and adding it on any website like youtube is
      prohibited
    </p>
  </div>
</div>